# Byte-compiled / optimized / DLL files
__pycache__/

# vscode folders and settings
.vscode
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace

# C extensions
*.so


etamp/testIO_symk/found_plans

Darias/TASK_regrasp/A_actionPlans
Darias/TASK_regrasp/B_fullPlans
Darias/TASK_regrasp/C_operatorPlans
Darias/TASK_regrasp/pddl/A_ap_domain.pddl
Darias/TASK_regrasp/pddl/A_ap_problem.pddl
Darias/TASK_regrasp/pddl/B_fp_domain.pddl
Darias/TASK_regrasp/pddl/B_fp_problem.pddl
Darias/TASK_regrasp/pddl/C_op_domain.pddl
Darias/TASK_regrasp/pddl/C_op_problem.pddl

Darias/TASK_unpack/A_actionPlans
Darias/TASK_unpack/B_fullPlans
Darias/TASK_unpack/C_operatorPlans
Darias/TASK_unpack/pddl/A_ap_domain.pddl
Darias/TASK_unpack/pddl/A_ap_problem.pddl
Darias/TASK_unpack/pddl/B_fp_domain.pddl
Darias/TASK_unpack/pddl/B_fp_problem.pddl
Darias/TASK_unpack/pddl/C_op_domain.pddl
Darias/TASK_unpack/pddl/C_op_problem.pddl

PR2/TASK_cook/A_actionPlans
PR2/TASK_cook/B_fullPlans
PR2/TASK_cook/C_operatorPlans
PR2/TASK_cook/pddl/A_ap_domain.pddl
PR2/TASK_cook/pddl/A_ap_problem.pddl
PR2/TASK_cook/pddl/B_fp_domain.pddl
PR2/TASK_cook/pddl/B_fp_problem.pddl
PR2/TASK_cook/pddl/C_op_domain.pddl
PR2/TASK_cook/pddl/C_op_problem.pddl

PR2/TASK_hanoi3/A_actionPlans
PR2/TASK_hanoi3/B_fullPlans
PR2/TASK_hanoi3/C_operatorPlans
PR2/TASK_hanoi3/pddl/A_ap_domain.pddl
PR2/TASK_hanoi3/pddl/A_ap_problem.pddl
PR2/TASK_hanoi3/pddl/B_fp_domain.pddl
PR2/TASK_hanoi3/pddl/B_fp_problem.pddl
PR2/TASK_hanoi3/pddl/C_op_domain.pddl
PR2/TASK_hanoi3/pddl/C_op_problem.pddl

PR2/TASK_hanoi4/A_actionPlans
PR2/TASK_hanoi4/B_fullPlans
PR2/TASK_hanoi4/C_operatorPlans
PR2/TASK_hanoi4/pddl/A_ap_domain.pddl
PR2/TASK_hanoi4/pddl/A_ap_problem.pddl
PR2/TASK_hanoi4/pddl/B_fp_domain.pddl
PR2/TASK_hanoi4/pddl/B_fp_problem.pddl
PR2/TASK_hanoi4/pddl/C_op_domain.pddl
PR2/TASK_hanoi4/pddl/C_op_problem.pddl
