<?xml version="1.0"?>
<robot name="boxA">
  <material name="Wood">
    <color rgba="0.827 0.675 0.463 1.0"/>
  </material>
  <material name="Color">
    <color rgba="0.631, 0.125, 0.125, 1.0"/>
  </material>
  <material name="Black">
    <color rgba="0.1, 0.1, 0.1, 1.0"/>
  </material>
  <link name="base_link">
     <inertial>
      <mass value="0.5" />
      <!-- center of mass (com) is defined w.r.t. link local coordinate system -->
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <inertia  ixx="0.01" ixy="0.0"  ixz="0.0"  iyy="0.01"  iyz="0.0"  izz="0.01" />
    </inertial>
    <visual>
      <origin xyz="0 0 -0.02" rpy="0 0 0" />
      <geometry>
        <box size="0.04 0.10 0.04" />
      </geometry>
      <material name="Black"/>
    </visual>
    <collision>
      <origin xyz="0 0 -0.02" rpy="0 0 0" />
      <geometry>
        <box size="0.04 0.10 0.04" />
      </geometry>
    </collision>
  </link>
</robot>