<robot name="cup_model">
  <material name="Glass">
    <color rgba="0.698, 0.706, 0.702, 0.4"/>
  </material>

  <link name="drawer_bottom_plate1">
    <inertial>
      <mass value="0.05" />
      <origin xyz="0 0 0.0" />
      <inertia  ixx="0.01" ixy="0.0"  ixz="0.0"  iyy="0.01"  iyz="0.0"  izz="0.01" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <box size="0.08 0.08 0.005"/>
      </geometry>
      <material name="Glass"/>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <box size="0.08 0.08 0.005"/>
      </geometry>
    </collision>
    <contact>
      <restitution value="0.7"/>
      <lateral_friction value="0.5"/>
      <rolling_friction value="0.1"/>
      <spinning_friction value="9.119138030817657e-08"/>
    </contact>
  </link>
  <link name="drawer_left_plate1">
    <inertial>
      <mass value="0.05" />
      <origin xyz="0 0 0.0" />
      <inertia  ixx="0.01" ixy="0.0"  ixz="0.0"  iyy="0.01"  iyz="0.0"  izz="0.01" />
    </inertial>
    <visual>
      <origin xyz="0 -0.0425 0.0875" rpy="0 0 0" />
      <geometry>
        <box size="0.08 0.005 0.18"/>
      </geometry>
      <material name="Glass"/>
    </visual>
    <collision>
      <origin xyz="0 -0.0425 0.0875" rpy="0 0 0" />
      <geometry>
        <box size="0.08 0.005 0.18"/>
      </geometry>
    </collision>
    <contact>
      <restitution value="0.7"/>
      <lateral_friction value="0.5"/>
      <rolling_friction value="0.1"/>
      <spinning_friction value="9.119138030817657e-08"/>
    </contact>
  </link>
  <link name="drawer_right_plate1">
    <inertial>
      <mass value="0.05" />
      <origin xyz="0 0 0.0" />
      <inertia  ixx="0.01" ixy="0.0"  ixz="0.0"  iyy="0.01"  iyz="0.0"  izz="0.01" />
    </inertial>
    <visual>
      <origin xyz="0 0.0425 0.0875" rpy="0 0 0" />
      <geometry>
        <box size="0.08 0.005 0.18"/>
      </geometry>
      <material name="Glass"/>
    </visual>
    <collision>
      <origin xyz="0 0.0425 0.0875" rpy="0 0 0" />
      <geometry>
        <box size="0.08 0.005 0.18"/>
      </geometry>
    </collision>
    <contact>
      <restitution value="0.7"/>
      <lateral_friction value="0.5"/>
      <rolling_friction value="0.1"/>
      <spinning_friction value="9.119138030817657e-08"/>
    </contact>
  </link>
  <link name="drawer_back_plate1">
    <inertial>
      <mass value="0.05" />
      <origin xyz="0 0 0.0" />
      <inertia  ixx="0.01" ixy="0.0"  ixz="0.0"  iyy="0.01"  iyz="0.0"  izz="0.01" />
    </inertial>
    <visual>
      <origin xyz="-0.0425 0 0.0875" rpy="0 0 0" />
      <geometry>
        <box size="0.005 0.09 0.18"/>
      </geometry>
      <material name="Glass"/>
    </visual>
    <collision>
      <origin xyz="-0.0425 0 0.0875" rpy="0 0 0" />
      <geometry>
        <box size="0.005 0.09 0.18"/>
      </geometry>
    </collision>
    <contact>
      <restitution value="0.7"/>
      <lateral_friction value="0.5"/>
      <rolling_friction value="0.1"/>
      <spinning_friction value="9.119138030817657e-08"/>
    </contact>
  </link>
  <link name="drawer_front_plate1">
    <inertial>
      <mass value="0.05" />
      <origin xyz="0 0 0.0" />
      <inertia  ixx="0.01" ixy="0.0"  ixz="0.0"  iyy="0.01"  iyz="0.0"  izz="0.01" />
    </inertial>
    <visual>
      <origin xyz="0.0425 0 0.0875" rpy="0 0 0" />
      <geometry>
        <box size="0.005 0.09 0.18"/>
      </geometry>
      <material name="Glass"/>
    </visual>
    <collision>
      <origin xyz="0.0425 0 0.0875" rpy="0 0 0" />
      <geometry>
        <box size="0.005 0.09 0.18"/>
      </geometry>
    </collision>
    <contact>
      <restitution value="0.7"/>
      <lateral_friction value="0.5"/>
      <rolling_friction value="0.1"/>
      <spinning_friction value="9.119138030817657e-08"/>
    </contact>
  </link>

  <joint name="drawer_left1" type="fixed">
    <parent link="drawer_bottom_plate1"/>
    <child link="drawer_left_plate1"/>
    <origin xyz="0 0 0"/>
  </joint>
  <joint name="drawer_right1" type="fixed">
    <parent link="drawer_bottom_plate1"/>
    <child link="drawer_right_plate1"/>
    <origin xyz="0 0 0"/>
  </joint>
  <joint name="drawer_back1" type="fixed">
    <parent link="drawer_bottom_plate1"/>
    <child link="drawer_back_plate1"/>
    <origin xyz="0 0 0"/>
  </joint>
  <joint name="drawer_front1" type="fixed">
    <parent link="drawer_bottom_plate1"/>
    <child link="drawer_front_plate1"/>
    <origin xyz="0 0 0"/>
  </joint>

</robot>
