<?xml version="0.0" ?>
<robot name="cylinder2">
  <link name="Link">
  <contact>
      <lateral_friction value="1"/>
  </contact>
    <inertial>
      <origin rpy="0 0 0" xyz="0 0 0"/>
       <mass value="1"/>
       <inertia ixx="1e-2" ixy="0" ixz="0" iyy="1e-2" iyz="0" izz="1e-2"/>
    </inertial>
    <visual>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
		<mesh filename="cylinder2.obj" scale="1 1 1"/>
      </geometry>
       <material name="white">
        <color rgba="0.0 0.7 0.0 1"/>
      </material>
    </visual>
    <collision>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
	 	<mesh filename="cylinder2.obj" scale="1 1 1"/>
      </geometry>
    </collision>
  </link>
</robot>

